body *{
      font-family: Arial, sans-serif;
    }

.vis-container {
      width: 100%;
  }

.page {
    width: 1400px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.pure-g {
  margin-bottom: 40px;
}


/* Specific visualization adjustments */
#donutchart, #barlinechart {
    margin: 0 auto;
    text-align: center;
}

#boxplot{
    display: inline-block;
    width: 48%;
}

/* Make sure charts take up appropriate space
#mapvis, #statechartvis, #donutchart, #boxplot, #heatmap, #barlinechart {
    height: 400px;
} */

/* Ensures that the donut chart is horizontally centered */
#donutchart {
    width: 50%;
}

#barlinechart {
    width: 100%;
}