h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 48px; /* Increase size as needed */
  font-weight: bold; /* Optional: Make the title bold */
  margin-bottom: 20px; /* Optional: Add spacing after the title */
}

body {
      font-family: Tahoma, sans-serif;
    }

.vis-container {
      width: 100%;
  }

  body {
    background-color: #e3ecf8; /* Pale light yellow */
  }
  
  .vis-container, .chart-container, .chart-container-2 {
    background-color: #e3ecf8; /* Match the background color */
  }
  
  .text-container, .text-container-2 {
    background-color: #e3ecf8; /* Ensure text containers match as well */
    padding: 10px;
  }
  
  

.page {
    width: 1000px;
    background-color: #e3ecf8;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.pure-g {
  padding-top: auto;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  align-items: baseline;
  display: inline;
}

p {
  line-height: 0.7; 
}

li{
  line-height: 1.3;
}

.text-container {
  justify-content:center;
  height: 250px;
  flex: 1; /* Allow the text container to take available space */
  margin-right: 20px; /* Space between text and chart */
  padding-left: 50px;

}

.text-container-2 {
  justify-content:center;
  height: 250px;
  flex: 1; /* Allow the text container to take available space */
  margin-right: 40px; /* Space between text and chart */
  padding-left: 50px;

}

.chart-container {
  width: 40%; /* Adjust width based on how much space you want for the chart */
  flex: 1; /* Allow the chart container to take available space */
  display: flex;
  justify-content: center; /* Center the chart */
  align-items: self-start; /* Center vertically */


}

.chart-container-2 {
  width: 40%; /* Adjust width based on how much space you want for the chart */
  flex: 1; /* Allow the chart container to take available space */
  display: flex;
  justify-content: center; /* Center the chart */
  align-items: self-start; /* Center vertically */


}

.container {
  display: flex; /* Use flexbox to align items side by side */
  justify-content: space-between; /* Space between the text and chart */
  align-items: self-start; /* Align items at the start of the container */
  margin-top: 20px;
}

.container-2 {
  display: flex; /* Use flexbox to align items side by side */
  justify-content: space-between; /* Space between the text and chart */
  align-items: center; /* Align items at the start of the container */
  margin-bottom: 20px;
}

.data-sources {
  text-align: center; /* Center the text */
  font-size: 14px;    /* Make text smaller */
  margin: 20px 0;     /* Add some spacing around the section */
}

.data-sources ul {
  list-style-type: none; /* Remove bullets from the list */
  padding: 0;           /* Remove default padding */
}


